@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}
.MachineShow{
    animation: growDown 150ms ease-in-out forwards;
    transform-origin: top center;
}

.MachineMenu:hover{
    color:rgba(255, 255, 0, 0.633);
    background-color: midnightblue;
}
.OneMachine{
    display:flex;
    justify-content: center;
    border:0.1em solid rgb(93, 93, 93);
    border-radius: 2em;
    padding: 0.5em;
    background-color: white;
    margin:1em;
    font-size: 1em;
    cursor: pointer;
}
.OneMachine:hover{
    color:rgba(255, 255, 0, 0.633);
    background-color: midnightblue;
}
#Directions,#Reviews{
    margin-left: 2em;
    margin-right: 2em;
    font-size: 0.6em;
}
#Contents p{
    border: 0.1em solid black;
    border-radius: 1em;
    background-color: white;
    padding: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
}
.MachineDetailsShow{
    animation: growDown 150ms ease-in-out forwards;
    transform-origin: top center;
}
.MachineDetailsHide{
    display: none;
}
.MachineHide{
    display: none;
}