#sidebar-desktop {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    background-color: var(--main-bg-color);
    width: 40vw;
    height: 100%;
}

#sidebar-mobile {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    background-color: var(--main-bg-color);
    width: 100%;
    height: fit-content;
    min-height: 30dvh;
}