html,body {
  margin: 0;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-main: whitesmoke;
  --bg-item: white;
  --selected: #F7DC6F;
  
  --umd-blue: #00274C;
  --umd-yellow: #FFCB05;
}

#appDiv {
  height: 100dvh;
  width: 100%;
}

.main-desktop {
  display: flex;
  height: 92dvh;
}

.main-mobile {
  display: flex;
  flex-direction: column;
}

/*display*/
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*position*/
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

/*width*/
.w-fit {
  width: fit-content;
}

.w-fill {
  width: 100%;
}

.w-auto {
  width: auto;
}

.w-80 {
  width: 80%;
}

/*height*/
.h-fit {
  height: fit-content;
}

.h-fill {
  height: 100%;
}

.h-auto {
  height: auto;
}

/*align*/
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.p-16 {
  padding: 16px;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.mr-4 {
  margin-right: 4;
}

.ml-auto {
  margin-left: auto !important;
}

/*decorations*/
.rounded {
  border-radius: 10px;
}

.overflow-clip {
  overflow: clip;
}

.scrollbar {
  scrollbar-width: thin;
}

/*text*/

.font-bold {
  font-weight: bold;
}

.font-1rem {
  font-size: 1rem;
}

/*color*/
.bg-main {
  background-color: var(--bg-main);
}

.bg-item {
  background-color: var(--bg-item);
}

.selected-bg {
  background-color: var(--umd-blue) !important;
}

.selected-text {
  color: var(--umd-yellow) !important;
}